@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url("image/background/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  min-height: 100vh;
  width: 800px;
  border-top: 20px solid #d8e2f2;
  border-bottom: 20px solid #d8e2f2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h1 {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  text-align: center;
  margin-top: 30px;
  font-size: 30pt;
}

.input-area {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

#task-input {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  font-size: 13pt;
  width: 300px;
  border: 3px solid #d8e2f2;
  border-radius: 10px;
  margin: 0;
}

#task-input:focus {
  background-color: rgb(233, 228, 131);
  outline: none;
  transition: 0.5s;
}

#add-button {
  border: none;
  background-color: white;
  width: 3em;
}

.task-area {
  margin-top: 1.5em;
}

.task-tabs {
  display: flex;
  border: 3px dotted #d8e2f2;
  position: relative;
  font-family: "Cafe24Supermagic-Bold-v1.0";
  font-size: 14pt;
}

.task-tabs div {
  padding: 1em;
  cursor: pointer;
}

#underline {
  height: 4px;
  background-color: #639bf4;
  position: absolute;
  width: 70px;
  left: 0px;
  top: 63px;
  padding: 0;
  transition: 0.5s;
}

.task {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  border-bottom: 2px solid #d8e2f2;
  font-family: "Cafe24Supermagic-Bold-v1.0";
  font-size: 14pt;
}

.task-done {
  text-decoration: line-through;
  border: none;
  display: block;
}

.button-area {
  display: flex;
  box-sizing: border-box;
}

.button-area button {
  height: 100%;
  border: none;
  width: 5em;
  margin: 0;
  background-color: white;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
  }

  .container h1 {
    font-size: 25pt;
  }

  #task-input {
    font-size: 11pt;
  }

  .task {
    font-size: 12pt;
    height: 40px;
    line-height: 40px;
  }

  .task-tabs {
    font-size: 12pt;
  }
  .task-tabs div {
    padding: 0.8em;
  }
  #underline {
    width: 52px;
    left: 0px;
    top: 47px;
    padding: 0;
  }

  .button-area button {
    width: 2em;
  }
}
